.signInLogo {
  display: block;
  margin: auto;
  width: 50%;
}

.signInHeader{
  text-align: center;
  color: blue;
  padding: auto;
  margin: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.signinFormTitle{
  text-align: center;
  color: blue;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.signInForm{
  width: 25%;
  border: 1px solid #7a7a7a;
  padding: 20px;
  background-color: #bababd60;
  border-radius: 30px;
  margin:auto;
}

.signInAccountButton{
margin-left: 10px;
border-radius: 8px;
background-color: rgb(253, 167, 8);
font-style: italic;
border: none;
height: 40px;
}

label{
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.signIn-Container{
 background-image: url(../../assets/log-sign-bg.jpg);
 background-size: cover;
 position:fixed;
 min-height: 100%;
 min-width: 100%;
 background-position: center;
}