.navbar {
  background-color: rgb(218, 18, 18);
  height: 110px;

}

.navbar-brand img {
  height: 125px;
  width: auto;
}

.navbar-toggler {
  border: none;
}


.navbar-collapse {
  justify-content: flex-end;
}


#navBarLinks {
  color: #003cff;
  font-size: 20px;
  margin-right: 30px;
  font-family: Helvetica ;
}

Lato
Open Sans
Montserrat
Roboto
Helvetica

.d-flex .nav-link {
  margin-right: 10px;
  color: rgba(252, 0, 0, 0.5);
  font-size: 16px;
  text-decoration: none;
}

.d-flex .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.nav-link svg {
  vertical-align: middle;
}

#navBarLinks:hover {
  color: #181717;
}